nav {
    background-color: #003366;
    padding: 10px;
    text-align: right;

   
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
}
nav a:hover {
    text-decoration: underline;
    scale: 150;
}



header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}


.button:hover {
    background-color: #0056b3;
}

.bank-container {
    width: 100%;

}