nav {
    background-color: #003366;
    padding: 10px;
    text-align: right;

   
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
}
nav a:hover {
    text-decoration: underline;
    scale: 150;
}



header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-container {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  text-align: center;
}

.payment-container h2 {
  margin-bottom: 15px;
}

.balance {
  font-size: 16px;
  font-weight: bold;
  color: #2563eb;
  margin-bottom: 20px;
}

.platforms {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}


.platform {
  background: #f9fafb;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.platform input {
  display: none;
}

.platform span {
  font-weight: 600;
}

.platform input:checked + span {
  color: #2563eb;
}

.platform:hover {
  border-color: #2563eb;
   transition: transform 0.3s ease;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}
.platform img {

}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1e40af;
}

#message {
  margin-top: 15px;
  font-weight: 600;
}
.payment-container{
    width: 100%;
}

