h1 {
    color: lab(96.17% 0.03 -1.09);
    font-family: Arial, sans-serif;

}
h2 {
    color: #003366;
    font-family: 'Times New Roman', serif;
    text-align: center;
    text-underline-offset: calc();
   font-size: xx-large;
}  
h3 {
    color: #003366;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: larger;
}
h4 {
    color: #003366;
    font-family: 'Times New Roman', serif;
    text-align: center;
} 

nav {
    background-color: #003366;
    padding: 10px;
    

   
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
}
nav a:hover {
    text-decoration: underline;
    scale: 150;
}



header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}


.button:hover {
    background-color: #0056b3;
}



.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    flex: 1;
    padding: 20px;
    font-size: large;
    z-index: 2;
    text-align: start;

}


.content-wrapper .sidebar {
    width: 250px;
    background-color: #f2f2f2;
    padding: 20px;
}

.content-wrapper :hover {
    background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

video {
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin: auto;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  line-height: 1.6;
  background-color: #f4f7fb;
  
}

.section-header h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:  #003366;
}
.line {
    width: 60x;
    height: 4px;
    background: var(--primary);
    margin: 15px auto;
}


 .container {
   object-fit: fill;
  display: flex;       
  flex-direction: row; 
  gap: 100px;
  align-items: right;
   margin-left: auto;
}

.hover-box {
  padding: 16px 24px;
  border: 2px solid  #003366;
  border-radius: 10px;
  background: #fff;
  box-shadow: #0056b3;



  transition: transform 0.3s ease;
}

.hover-box:hover {
  transform: translateY(-8px);
}
